body {
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
}

.body-bg {
  background: #f3f4fa !important;
}

body {
  /* background: linear-gradient(45deg, #3a3a60, #5f5f8e); */
  min-height: 100vh;
}

.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

.sparkboxes .box .details {
  position: absolute;
  color: #fff;
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
